@tailwind base;
@tailwind components;
@tailwind utilities;


.roboto {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 50px;
}

.roboto-semi {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.robo {
    font-family: 'Roboto', sans-serif;
}

.roboto-semi-bold {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}

.roboto-normal {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    /* font-size: 20px; */
}

.roboto-normal-500 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.roboto-normal-400 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.mont {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.mont-a {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 50px;
}

.monoton {
    font-family: 'Monoton', cursive;
    font-size: 50px;
}

.cal {
    font-family: 'Lexend Peta', sans-serif;
    font-weight: 700;
}

.maven {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 500;
}

.mave {
    font-family: 'Maven Pro', sans-serif;
}

.maven-300 {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 300;
}

.bg-primary {
    background-color: #FACF0E;
}

.text-primary {
    color: #FACF0E;
}

.theme-blue {
    color: #1e326e;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.circle {
    border-radius: 50%;
    animation: zoomInOut 2s infinite;
}

/* @keyframes zoomInOut {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
} */


.custom-nav {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    /* animation: moveDown 0.s forwards, fadeIn 0.3s 2s ease-in-out forwards; */
    animation: moveDown 0.8s 2.2s forwards;
}

@keyframes moveDown {
    0% {
        top: -40px;
    }

    100% {
        top: 0px;
        opacity: 1;
        /* Adjust this value to set how far the navbar should move down */
    }
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }





/* swiper */